:root {
    
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --dark-bg: #2F303A;
    --light-bg: #F5F4FA;
    --hero-bg: #C4C4C4;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*Сброс стилей для заголовков, параграфов и списков*/
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Сброс стилей для изображений*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Убирает все иконки списка*/
.list {
    list-style: none;
}

/*Контейнер для позиционирования и центрирования*/ 
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*---- Логотип ----*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;    
}

.logo > .logo-black-part {
    color: #000000;
}

.logo > .logo-white-part {
    color: #FFFFFF;
}

/* Позиционирование секции Header*/
.header > .container,
.nav,
.nav .list {
    display: flex;
}

.header .nav{
    align-items: center;
}

.header .logo {
    margin-right: 93px;
}

.header {
    border-bottom: 1px solid #ECECEC;
}
 
.nav .item:not(:last-child) {
    margin-right: 50px;
}

.nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .contacts > .item + .item {
    margin-left: 50px;
}


/*---- Навигация ----*/
.header .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.contacts .link {
    color: var(--main-text-color);   
}

.header-contacts .link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.header .link-active {
    color: var(--accent-color);
}

/*Цвет при hover-focus*/
.contacts .icon {
    fill: currentColor;
    margin-right: 10px;
}

/* Общее позиционирование секций */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/*---- Секция герой с позиционированием----*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 1600px;
    min-height: 600px;
    
    background-color: var(--hero-bg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    color: #FFFFFF;
}

.hero-title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    min-width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
    background: var(--accent-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
}


/*---- Секция особенности ----*/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features .subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.features .text {
    line-height: 1.71;
}

.features .icon {
    width: 70px;
    height: 70px;
}

/*Иконки Features фон и позиционирование*/
.features .icon-thumb {
    height: 120px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background: var(--light-bg);
    border-radius: 4px;
}

/* Позиционирование секции Особенности */
.features .list {
    display: flex;
}

.features .list > .item {
    flex-basis: calc((100% - (3 * 30px))/ 4);
}

.features .item + .item {
    margin-left: 30px;
}


/*---- Секция Чем мы занимаеся ----*/
.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color)
}

/* Позиционирование секции Чем мы занимаемся */
.work.section {
    padding-top: 0;
}

.work .list {
    display: flex;
}

.work .item:not(:last-child) {
    margin-right: 30px;
}


/*---- Секция Наша команда ----*/
.team {
    background-color: var(--light-bg);
}

.member {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
}

.member-position {
    font-size: 16px;
    line-height: 1.19;
}

/* Позиционирование секции Наша команда */
.team .section-title {
    margin-bottom: 50px;
}

.team .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.team .item {
    /* На случай увеличения кол-ва членов команды*/
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-description {
    padding-top: 30px;
    padding-bottom: 30px;
    /*по рекомендации сделан мини падинг боковой*/
    padding-left: 5px;
    padding-right: 5px;

    text-align: center;
}


/*---- Футер ----*/
.footer {
    background-color: var(--dark-bg);
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-address .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Позиционирование Футера*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-top: 20px;
}

.address-txt {
    margin-bottom: 9px;
}

.footer-address .item:not(:last-child) {
    margin-bottom: 9px;
}


/*=====================
    Вкладка Портфолио
  =====================*/

/*---- Кнопки-фильтры ----*/ 
.portfolio-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    cursor: pointer;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.portfolio .btn-active,
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background: var(--accent-color);
}

/* Позиционирование и стилизация кнопок фильтра*/
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list > .item + .item {
    margin-left: 8px;
}

/* Тень на активную кнопку*/
.portfolio .btn-active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



/*---- Список проектов ----*/
.project-card {
    text-decoration: none;
}

.project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.project-filter-part {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Позиционирование Списка проектов*/
.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

/* Для легкого изменения кол-ва проектов в строке*/
.project-list > .item {
    flex-basis: calc((100% / 3) - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.project-description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}


